:root {
  --colorText: #eee;
  --background: #171717;
  --fondo: linear-gradient(180deg, rgba(36, 36, 36, 1) 0%, rgba(14, 14, 14, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--fondo);
  color: var(--colorText);
  text-decoration: none;
}

a {
  color: var(--colorText);
  text-decoration: none;
}